# Godot 4+ specific ignores
.godot/

# Reference project (not part of this game)
NIKKE-GODOT - Copy/
/android/

NIKKE-GODOT - Copy/
*.import
.godot/


# Exported executables
*.exe

# Export PCK files (too large for GitHub)
*.pck
